*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 'inter';
}
.mainContent{
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: 'inter';
  font-size: 14px;
  font-weight: 400;
    min-height: 90vh;
  /* margin:30px 50px ; */
}

.course-details h2 {
  font-size: 1.4rem;
  font-weight: 600;
  margin: 16px 0px;
  color: #1f2937;
}

.course-details p {
  color: #374151;
  line-height: 1.6;
}

 .main{
  padding: 0 3rem;
  overflow: hidden;
}

 .mainContent{
   min-height: 90vh; 

}  


.coursePage{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
   
}

.coursee-section {
  display: flex;
  flex: 1;
  padding: 2rem;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.course-details{
  width: 100%;
  display: flex;
  justify-content: flex-start;

 


}
.coursee-details h2 {
  font-size: 1.4rem;
  font-weight: 600;
  margin: 16px 0px;
  color: #1f2937;
}

.coursee-details p {
  color: #374151;
  line-height: 1.6;
}


/* .course-details h2 {
  font-size: 1.4rem;
  font-weight: 600;
  margin: 16px 0px;
  color: #1f2937;
}

.course-details p {
  color: #374151;
  line-height: 1.6;
}
.sidebar-container {
  width: 250px;
  flex-shrink: 0;
} */

/* 
.coursePage{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}

.sidebar{
  width: 22%;
  height: 55vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 0 0.9rem;
}

.courses-section {
  display: flex;
  flex: 1;
  padding: 2rem;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}
.course-details h2 {
  font-size: 1.4rem;
  font-weight: 600;
  margin: 16px 0px;
  color: #1f2937;
}

.course-details p {
  color: #374151;
  line-height: 1.6;
}

.sidebar-container {
  width: 250px;
  flex-shrink: 0;
}

.main-content {
  flex-grow: 1;
}

.courses-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 2rem;
}

.reviews-grid {
  display: grid;
  grid-template-columns: 0.4fr 1.2fr;
  gap: 24px;
}

.rating-summary {
  padding: 10px 0px;
}

.reviews-list {
  width: 50%;
 margin-left: 300px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.Reviews{
  width: 50%;
}

.reviews-list h2 {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 8px;
  color: #1f2937;
} */


@media (max-width: 768px) {
  .courses-section {
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
  }
  .sidebar-container {
    width: 100%;
  }
} 