.header3{
    background-color:#0F172A ;
}
.nav3{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    color: white;
    margin: 20px 70px;
    font-size: 15px;
}
.logo3 {
  width: 80px;  
  height: auto;
  object-fit: contain;
}

.nav-left3{
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 