.top-courses {
  padding: 2rem;
  background-color: #f9f9f9;
  font-family: 'Inter';
}

.top-courses-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 1.5rem; */
}

.top-courses-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
  color: #1e293b;
}

.top-courses-see-all {
  font-size: 1rem;
  color: #3b82f6;
  text-decoration: none;
  cursor: pointer;
}

.top-courses-see-all:hover {
 text-decoration: underline;
}

.top-courses-grid {
  
 display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  padding: 2rem;
}

