.sidebar {
 
  width: 330px;
  height: 450px;
  padding: 1.0rem;
  border: none;
  margin-top: 60px;
  padding-right: 20px;


  border-radius: 8px;
   box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  
}





.thumbnail {
 
  width: 100%;
  height: 100px;
  display: block;
  object-fit: cover; 
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.thumbnail:hover {
  transform: scale(1.02); /* subtle zoom effect */
}


.cardContent {
  padding-top: 1rem;
}

.priceSection {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.priceContainer {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
  font-weight: 700;
}

.currentPrice {
  font-size: 2rem;
  color:black;
}

.originalPrice {
  font-size: 1.2rem;
  color: #888;
  text-decoration: line-through;
}

.discountBadge {
  background-color: green;
  color: #fff;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  font-size: 0.8rem;
  font-weight: 600;
  margin-left: 1rem;
}


/* Button Styles */
.addToCartBtn {
  width: 100%;

  background-color: black;
  color: white;
  border: 1px solid black;
   border-radius: 10px;
     font-weight: 600;
       padding: 0.75rem;
  cursor: pointer;
   transition: background-color 0.2s;

}

.buyNowBtn {
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  color:black;
    padding: 0.75rem;
    font-weight: 600;
  cursor: pointer;
   transition: background-color 0.2s;
  margin-top: 1.5rem;
  
}
.buttonGroup{
  display: flex;
  flex-direction: column;
 
}




.shareHeader {
  width: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  
}

.shareLabel {
  margin-top: 20px;
  font-size: 16px;
  color: #555;
  padding-bottom: 20px;
}

.socialIconss{
  background-color: none;
  color: none;
  width: 250px;
  font-size: 30px;
  display: flex;
  justify-content: space-between;
 

}